.transfers-filter-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.5;
}

.transfers-checkbox-group-container {
  & > :first-child {
    margin-bottom: 8px;
  }

  .ant-checkbox-group > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
